<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">

    <welcome-file-list>
        <welcome-file>GuiServlet</welcome-file>
    </welcome-file-list>

    <!--  The graphical user interface is accessed via the url /gui -->
    <servlet>
        <servlet-name>GuiServlet</servlet-name>
        <servlet-class>startup.GuiServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>GuiServlet</servlet-name>
        <url-pattern>/gui</url-pattern>
    </servlet-mapping>


    <!-- Remote procedure calls are issued to this servlet via url /rpc  -->
    <!-- Send presence messages to the RPC servlet too -->
    <servlet>
        <servlet-name>RpcServlet</servlet-name>
        <servlet-class>startup.RpcServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>RpcServlet</servlet-name>
        <url-pattern>/rpc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RpcServlet</servlet-name>
        <url-pattern>/_ah/channel/connected/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RpcServlet</servlet-name>
        <url-pattern>/_ah/channel/disconnected/</url-pattern>
    </servlet-mapping>


    <!-- Task requests calls are issued to this servlet via url /task  -->
    <servlet>
        <servlet-name>TaskServlet</servlet-name>
        <servlet-class>startup.TaskServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>TaskServlet</servlet-name>
        <url-pattern>/task</url-pattern>
    </servlet-mapping>

    <!--
        Restrict task requests to being issued by the administrator,
        i.e. from within RPC requests, not directly by a normal user.
    -->
    <security-constraint>
        <web-resource-collection>
            <url-pattern>/task/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>

</web-app>
